<p>
  frais-incompressible works!
</p>

<div class="form-group">
  <label> Frais Incompressibles </label>
<app-tableaufrais
  *ngFor="let frais of fraisIncompressibles" [fraisIncompressible]="frais"></app-tableaufrais>
  <br/>
  <div class="add-fraisIncompressible">
    <input type="button" value='Ajouter nouveau frais' (click)="ajouterfrais()"/>
  </div>
  <br/>
  <div class="delete-fraisIncompressible">
    <input type="button" value='Supprimer frais' (click)="removeFraisIncompressiblePressed()"/>
  </div>
</div>
<br/>
<div class="input-group">
  <input type="button" value="modifier Frais Incompressibles" (click)="updateFraisInc()"/>
</div>
