<p>
  fraisincform works!
</p>

<form method="post" action="questionnaire.php">
  <fieldset>
    <legend>Entrez votre frais incompressible</legend> 
     <label for="id">Id:</label>
      <input type="text" [(ngModel)]="frais_in_progress.idFraisIncompressible" name="idFraisIncompressible" id="id" />
     <br /> <br>
     <label for="nom">Destination:</label>
      <input type="text" [(ngModel)]="frais_in_progress.nomFrais" name="nomFrais" id="nomFrais" />
     <br /> <br>
     <label for="montant">Montant:</label>
     <input type="text" [(ngModel)]="frais_in_progress.montantFrais" name="montant" id="montant" />
    <br /> <br>
     <label for="tel">Compte du prélèvement:</label>
      <input type="text" [(ngModel)]="frais_in_progress.compteBancaire" name="compteBancaire" id="compteBancaire" />
  </fieldset>
  <div class="input-group">
  <input type="button" value="Nouveau Frais" (click)="addUpdateFraisClicked()"/>
  </div>
</form>


