
<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
<br>
 <nav>
  <div align="center">
    <ul>
      <li class="menu-clients"><a (click)="gestionclientpressed()">Gestion des Clients</a></li>
      <li class="menu-comptes"><a (click)="gestionComptepressed()">Gestion des Comptes</a></li>
      <li class="menu-virements"><a href="">Gestion des virements</a></li>
      <li class="menu-frais"><a (click)="gestionfraispressed()">Gestion des Frais Incompressibles</a></li>
      <li class="menu-contact"><a href="mailto:paulineperrin63@hotmail.fr"> Contactez votre conseiller </a></li>
    </ul>
  </div>
</nav>
<br> <br>
<br>
<p> En vous connectant en tant que membre de la banque vous pouvez gérer les clients de la banque, consulter leur comptes répondre aux demandes de virements et accepter les demandes de frais incompressibles</p>
<br>
<br>
<p> En vous connectant en tant que client vous pouvez gérer vos comptes, faire des demande de virements et de frais incompressibles. Vous pouvez également demander conseil à votre conseiller bancaire attitré</p>
<br>
<br>
<br> 
<marquee direction="right"><h2>Bienvenue sur notre application bancaire !</h2></marquee>
<br>
<br>



 