
<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
 <nav>
  <div align="center">
    <ul>
      <li class="menu-clients"><a (click)="gestionclientpressed()">Gestion des Clients</a></li>
      <li class="menu-comptes"><a href="">Gestion des Comptes</a></li>
      <li class="menu-virements"><a href="">Gestion des virements</a></li>
      <li class="menu-frais"><a (click)="gestionfraispressed()">Gestion des Frais Incompressibles</a></li>
    </ul>
  </div>
</nav>
<br> <br>
<div class='ribbon'>
  <a (click)="gestionclientpressed()"><span>Gestion des Clients</span></a>
  <a href='#'><span>Gestion des Comptes</span></a>
  <a href='#'><span>Gestion des virements</span></a>
  <a (click)="gestionfraispressed()"><span>Gestion des Frais Incompressibles</span></a>
</div>
<br>
<br>
<br>
<br> 
<marquee direction="right"><h2>Bienvenue sur notre application bancaire !</h2></marquee>
<br>
<br>



 