
h1
{
  font-size: 150px;
  text-shadow: -1px -1px rgb(238, 238, 238), 1px 1px #888, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color:rgb(121, 191, 238);
  padding:4px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display: block;
  line-height:300px;
  
}

h2 {
    color: black;
    text-align: center
}

nav ul {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

nav li {
	list-style-type: none;
	float: left;
}

nav {
	width: 100%;
	
	font-size: 25px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: black;
	text-align: center;
}

.menu-clients:hover {
	border-top: 5px solid #4D9FD6;
}

.menu-comptes:hover {
	border-top: 5px solid #4D9FD6;
}

.menu-virements:hover {
	border-top: 5px solid #4D9FD6;
}

.menu-frais:hover {
	border-top: 5px solid #4D9FD6;
}

.menu-contact:hover {
	border-top: 5px solid #4D9FD6;
}

nav li:hover a {
	padding: 15 px 30px 20px 30px;
}

p {
  text-align: center;
  color: rgb(110, 124, 133);
  font: 2em Impact, sans-serif ;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.3);
}

