
<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
<br> <br>
<h2>Detail du client selectionné</h2>
<br>
<div>
<p font-style= "italic">id du client: {{ client.id }}</p>
<p>Nom du client: {{ client.nomClient }}</p>
<p>Prenom du client: {{ client.prenomClient }}</p>
<p>Adresse du client: {{ client.adresseClient }}</p>
<p>Age du client: {{ client.age }} ans</p>
<p>Date d'enregistrement du client dans la banque: {{ client.dateEnregistrement }}</p>
<p>Sexe du client: {{ client.sexe }}</p>
<p>Numéro de télephone du client: {{ client.telClient }}</p>
<p>{{ client.comptes }}</p>
</div>


