

<h1 style="background-image:url(assets/banque.jpg)">
    NewbieBank
  </h1>
  
<ul>
  <li><a class="active" (click)= "acceuil()">Acceuil</a></li>
  <li><a (click)="consulter()">Consuler la liste des Clients</a></li>
  <li><a (click)="ajouterclient()">Ajouter un Client</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>Gestion des Clients</h2>
  <h3>Cette page permet de gérer les clients de NewbieBank</h3>
  <p>Vous pouvez consulter la liste des clients et à partir de cette liste modifier ou supprimer un client Vous pouvez ajouter un nouveau client grâce à un formulaire d'ajout </p>
</div>

