

<h1 style="background-image:url(assets/banque.jpg)">
    NewbieBank
  </h1>
  <br> <br>
<ul>
  <li><a class="active" (click)= "acceuil()">Acceuil</a></li>
  <li><a (click)="consulter()">Consuler la liste des Clients</a></li>
  <li><a (click)="ajouterclient()">Ajouter un Client</a></li>
</ul>

<h2>Gestion des Clients</h2> <br>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  
  
      <img src='/assets/client.jpg' />
   
     <br>
  <h3>Cette page permet de gérer les clients de NewbieBank</h3>
  <br> <br> <br> <p>Vous pouvez consulter la liste des clients de la banque <br>
    A partir la liste des clients, vous pouvez voir les détails d'un client, modifier ce client ou le supprimer. <br>
    Vous pouvez également ajouter un nouveau client grâce à un formulaire d'ajout </p>
</div>

