
<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
<br> <br>
<ul>
    <li><a class="active" (click)= "acceuil()">Acceuil</a></li>
    <li><a (click)="consultercompte()">Consuler son compte</a></li>
    <li><a (click)="ajoutercompte()">Ajouter un Compte</a></li>
  </ul>
  
  <div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h2>Gestion des Comptes</h2> <br>
    
        <img src='/assets/compte.jpg' />
     
       <br>
    <h3>Cette page permet de gérer les comptes</h3>
    <br> <br> <br> <p>Vous pouvez consulter vos comptes et ajouter un compte </p>
  </div>
