<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
<br/><br/>
<h2>Bienvenue sur la page de gestion des frais incompressibles</h2>
<br/><br/>

<div id="button" style="float: right; padding: 5px"><input type="button" value="Ajouter nouveau frais"
  (click)="addNewFraisPressed()"/>
</div>
<br/><br/>
<div>
  <h3><em>Rappel de vos Frais Incompressibles :</em> </h3>
</div>
<br/><br/>
<app-tableaufrais
  *ngFor="let frais of fraisIncompressibles" [fraisIncompressible]="frais" (userClick)="userClickedOnFrais($event)"></app-tableaufrais>
  <br/><br/> 
  <div style="text-align:center"><button pButton type="button" label="Retour à l'acceuil" (click)="backacceuil()"></button>
  </div>
