<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
<br/><br/>
<h2>Gestion des frais incompressibles</h2>

<div class='recipe panel panel-default'>
    <div class="panel-heading">
      <h3 class="panel-title">{{ fraisIncompressible.nomFrais }}</h3>
    </div>
    <div class="panel-body">
        <p>id du frais: {{ fraisIncompressible.idFraisIncompressibles }} </p>
        <p>montant: {{ fraisIncompressible.montantFrais }}</p>
        <p>compte lié: {{ fraisIncompressible.compte }}</p>
    </div>    
<br/>
<div >
  <a (click)="editButtonPressed()" style='cursor: pointer'>Modifier un Frais Incompressible </a></div>
<br/>
  
<div>
  <a (click)="deleteButtonPressed()" style='cursor: pointer'>Supprimer un Frais Incompressible</a>
</div> 
