<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
<br/><br/>
<h2>Gestion des frais incompressibles</h2>
<br/><br/>

<div id="bob" class='recipe panel panel-default'>
    <div class="panel-heading">
      <h3 class="panel-title">{{ fraisIncompressible.nomFrais }}</h3>
    </div>
    <br/>
    <div class="panel-body">
        <p>id du frais: {{ fraisIncompressible.idFraisIncompressibles }} </p>
        <p>montant: {{ fraisIncompressible.montantFrais }}</p>
        <p>compte lié: {{ fraisIncompressible.compte }}</p>
    </div> 
</div>   
<br/>
<div style="text-align:center"><button pButton type="button" label="Modifier un Frais Incompressible" (click)="editButtonPressed()"></button>
</div>
<br/><br/>
<div style="text-align:center"><button pButton type="button" label="Supprimer un Frais Incompressible" (click)="deleteButtonPressed()"></button>
</div>
