
<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
<br> <br>
<h2> Formulaire d'ajout d'un nouveau client </h2><br> <br>
<form method="post" action="questionnaire.php">
  <fieldset>
    <table>
      <tr>
     <td><label for="titre">Sexe : </label> </td>
     <td> <select name="titre" [(ngModel)]="client_in_progress.sexe">
      <option value="Femme"  selected="selected">Femme</option>
      <option value="Homme" >Homme</option>
     </select> </td> </tr>
     <br /> <br>
     <tr>
     <td><label for="nom">Nom:</label> </td>
      <td><input type="text" [(ngModel)]="client_in_progress.nomClient" name="nom" id="nom" /> </td>
     <br /> <br> </tr>
     <tr>
     <td> <label for="prenom">Prénom:</label> </td>
     <td> <input type="text" [(ngModel)]="client_in_progress.prenomClient" name="prenom" id="prenom" /> </td> 
     <br /> <br> </tr>
     <tr>
     <td><label for="age">Age:</label> </td>
     <td><input type="text" [(ngModel)]="client_in_progress.age" name="age" id="age" /> </td>
    <br /> <br> </tr>
    <tr>
     <td><label for="tel">Téléphone:</label></td>
      <td><input type="text" [(ngModel)]="client_in_progress.telClient" name="tel" id="tel" /></td>
      <br /> <br> </tr>
      <tr>
     <td><label for="adresse">Adresse:</label></td>
      <td><input type="adresse" [(ngModel)]="client_in_progress.adresseClient" name="adresse" id="adresse" /></td>
     <br /> <br> </tr>
     <tr>
     <td><label for="age">Date d'aujourd'hui:</label></td>
     <td><input type="date" value="2019-07-22" min="2019-01-01" max="2019-12-31" [(ngModel)]="client_in_progress.dateEnregistrement" /></td>
    <br /> <br> </tr>
    <tr>
    <td><label for="age">Assigner un compte : id du Compte: </label></td>
     <td><input type="text" [(ngModel)]="client_in_progress.comptes" name="date" id="date" /></td>
    
    
     <td><button pButton type="button" (click)="CompteClicked()" label="Créer un compte" class="ui-button-rounded ui-button-secondary"></button></td>
    <br /> <br> </tr></table>
  </fieldset>
  
<div id="button">

  <button pButton type="button" (click)="addUpdateClientClicked()" label="Ajouter un Client" class="ui-button-rounded ui-button-secondary"></button>
</div>

  </form>

  
