
<h1 style="background-image:url(assets/banque.jpg)">
  NewbieBank
</h1>
<h2> Formulaire d'ajout d'un nouveau client </h2><br>
<form method="post" action="questionnaire.php">
  <fieldset>
    <legend>Coordonnées</legend> 
     <label for="titre">Sexe : </label>
     <select name="titre">
      <option value="Mme" [(ngModel)]="client_in_progress.sexe" selected="selected">Femme</option>
      <option value="Mr">Homme</option>
     </select>
     <br /> <br>
     <label for="nom">Nom:</label>
      <input type="text" [(ngModel)]="client_in_progress.nomClient" name="nom" id="nom" />
     <br /> <br>
     <label for="prenom">Prénom:</label>
      <input type="text" [(ngModel)]="client_in_progress.prenomClient" name="prenom" id="prenom" />
     <br /> <br>
     <label for="age">Age:</label>
     <input type="text" [(ngModel)]="client_in_progress.age" name="age" id="age" />
    <br /> <br>
     <label for="tel">Téléphone:</label>
      <input type="text" [(ngModel)]="client_in_progress.telClient" name="tel" id="tel" /><br /> <br>
     <label for="adresse">Adresse:</label>
      <input type="adresse" [(ngModel)]="client_in_progress.adresseClient" name="adresse" id="adresse" />
     <br /> <br>
     <label for="age">Date d'aujourd'hui:</label>
     <input type="text" [(ngModel)]="client_in_progress.dateEnregistrement" name="date" id="date" />
    <br /> <br>
  </fieldset>
    
  
<div class="input-group">
  <input type="button" value="Nouveau Client" (click)="addUpdateClientClicked()"/>
</div>

  </form>
